{% extends 'esr21/base.html' %}

{% block extra-styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style>
.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
</style>
{% endblock extra-styles %}

{% block main %}

<div class="jumbotron">
    <div class="row w-100">
        
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 p-3">
                <div class="card border-success shadow text-success p-3 my-card"><span  aria-hidden="true"></span></div>
                <div class="text-success text-center mt-3"><h4>Screened Subjects</h4></div>
                <div class="text-success text-center mt-2"><h1>{{ screened_subjects }}</h1></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card" ><span  aria-hidden="true"></span></div>
                <div class="text-info text-center mt-3"><h4>Subject Consents</h4></div>
                <div class="text-info text-center mt-2"><h1>{{ consented_subjects }}</h1></div>
            </div>
        </div>
    </div>
</div>


{% endblock main %}